<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>    
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>  

    <!--main content-->
    
    <main class="container">
      <div class="jumbotron">
        
        <div style="text-align:Centre">Welcome Everyone!</div><br><br><br><br>
        
          <p>Hello and welcome to my homepage. I have published all of my information on this website.</p>
      </div>

      
    </main>

   
