<!-- Name: Harsh Patel 
Student ID: 301175911 -->

<html>
    <head>
        <title>About</title>
        
    <link rel='stylesheet' href='/Content/app.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <img src = "/Images/logo.png" alt="logo" height="150" width="150">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Harsh Patel</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home"><i class="fas fa-laptop-house"></i> Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about"><i class="fas fa-info"></i> About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/services"><i class="fab fa-servicestack"></i> Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/project"><i class="fas fa-tasks"></i> Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contacts"><i class="fas fa-address-book"></i> Contacts</a>
                  </li>  
                </ul>
                
              </div>
            </div>
          </nav>
          <div class="container">
            <h2>
                Hello Everyone
            </h2>
            <h4><p>
              My name is Patel Harsh, and I am a Software Engineering Technology student at Centennial College. I am an Indian citizen who resides in Gujarat. I am currently in my fourth semester and have gotten experience with C# and Python programming. I also have some web programming experience. -->
              Thank you very much.</p> 
            </p></h4>
        </div>
        
        <span class="site-nav font-weight-bold">
          <a href ="/PDF/Resume.pdf"><h4 style="text-align:center;">Resume</h4></a>
        </span>
        
        <div class="pixgrid clearfix">
          <center> <img src="/Images/myphoto.jpeg" alt="My Photo" width="400" height="500"></center>
       </div>
          

            <script src="/Scripts/app.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.css"></script>
<script src="/jquery/dist/jquery.min.css"></script>
 
        
    </body>
    <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
          <h6 class="navbar-text" href="#">&copy All Rights reserved by Harsh Patel</h6>
        </nav>
      </footer>
</html>